{% extends 'base/base-template.html' %}
{% load static %}
{% block page_content %}
    <div class="container-sm pt-5">
        <div class="row">
            <div class="col-md-4">
                <h1>Produkt</h1>
                <img class="img-fluid mx-auto" src="{{ product.image.url }}" alt="Produkt"
                     height="400" width="400">
                {% if product.is_dangarous_to_enviroment %}
                    <img class="img-fluid mx-auto" src="{% static 'images/substancja szkodliwa dla środowiska.png' %}"
                         alt="Substancja szkodliwa dla środowiska" height="100" width="100">
                {% endif %}
                {% if product.is_cancerogenic %}
                    <img class="img-fluid mx-auto" src="{% static 'images/substancja rakotwórcza mutogenna.png' %}"
                         alt="Substancja rakotwórcza" height="100" width="100">
                {% endif %}
                <h1>{{ product.name }}</h1>
                <h5>{{ product.category }}</h5>
                <h5>Producent: {{ product.brand }}</h5>
                <h6 class="pt-2">Działa na:</h6>
                <ul>
                    {% for disease in works_on %}
                        <li><span class="fw-bold">{{ disease.name }}</span> ({{ disease.description }})</li>
                    {% endfor %}
                </ul>
                <div class="d-grid">
                    <button class="btn btn-primary btn-lg mb-5" type="button">Zadaj pytanie</button>
                </div>

            </div>
            <div class="col-md-8">
                <h2>Opis</h2>
                <p class="pt-2">{{ product.desc|linebreaks }}</p>
                {% if product.is_available %}
                    <h2 class="text-success"><i class="bi bi-check"></i>Dostępny</h2>
                    <div class="row">
                        <div class="col-md-8">
                            <span class="fs-1">Cena: {{ product.price }}zł</span>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-success btn-lg" type="button">Kup</button>
                    </div>
                {% else %}
                    <h2 class="text-danger"><i class="bi bi-x"></i>Niedostępny</h2>
                    <div class="alert alert-info" role="alert">
                        <i class="bi bi-info-circle-fill"></i> Oczekiwanie na dostawę.
                    </div>
                {% endif %}
                {% if product.show_warning %}
                    {% include 'includes/product-warning.html' %}
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}