<div class="alert alert-warning mt-5" role="alert">
    <h4 class="alert-heading"><i class="bi bi-exclamation-diamond-fill"></i> Ostrzeżenie!</h4>
    <p>
        Ze środków ochrony roślin należy korzystać z zachowaniem bezpieczeństwa. Przed każdym użyciem przeczytaj
        informację zamieszczone w etykiecie i informacje dotyczące produktu. Nabycie środków ochrony roślin mogą
        dokonywać jedynie osoby pełnoletnie oraz posiadające kwalifikacje wymagane od osób nabywających środki ochrony
        roślin, określone w art.28 (DZ.U.2018, poz. 1310) ustawy o środkach ochrony roślin.
    </p>
</div>